.App {
  text-align: center;
}

h1 {
  color: dodgerblue;
}

h4 {
  color: red;
}

.Smurf {
  border: 1px solid dodgerblue;
  margin: 15px;
  color: whitesmoke;
}

.smurf-form {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  max-width: 400px;
  padding: 20px 12px 10px 20px;
}

input::placeholder {
  background: lightblue;
  color: white;
}

button {
  background-color: aquamarine;
}
