body {
  max-width: 850px;
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  background-image: url("./assets/smurfvillage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
